/* Headers */
.cm-formatting-header {
  color: var(--primary-light) !important;
}
// MIXINS
@mixin display-s {
  line-height: 2.75rem;
  font-size: var(--display-s);
  font-weight: var(--regular);
}

@mixin headline-l {
  line-height: 2.5rem;
  font-size: var(--headline-l);
  font-weight: var(--regular);
}

@mixin headline-m {
  line-height: 2.25rem;
  font-size: var(--headline-m);
  font-weight: var(--regular);
}

@mixin headline-s {
  line-height: 2rem;
  font-size: var(--headline-s);
  font-weight: var(--regular);
}

@mixin title-l {
  line-height: 1.75rem;
  font-size: var(--title-l);
  font-weight: var(--regular);
}

@mixin title-m {
  line-height: 1.5rem;
  font-size: var(--title-m);
  letter-spacing: .009375rem;
  font-weight: var(--medium);
}

@mixin body-large {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .009375rem;
  font-weight: var(--medium);
}

@mixin body-medium {
  line-height: 1.25rem;
  font-size: .875rem;
  letter-spacing: .015625rem;
  font-weight: var(--medium);
}

// Headers
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  @include display-s();
}

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2 {
  @include headline-l();
}

.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  @include headline-m();
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  @include headline-s();
}

.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5,
.cm-s-obsidian .cm-header-5 {
  @include title-l();
}

.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6,
.cm-s-obsidian .cm-header-6 {
  @include title-m();
}

/* ------------- */
/* # Body */
/* ------------- */


// Body Text
.markdown-preview-view,
.markdown-source-view,
.cm-line {
  @include body-large();
}

/* Fonts */
// Unsure what this is used for
.popover,
.vertical-tab-content-container,
.workspace-leaf-content[data-type="markdown"] {
  font-family: var(--font-preview);
}

/* Editor */
.markdown-source-view .cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian,
.cm-s-obsidian span.cm-formatting-task {
  @include body-medium();
}

/* Checkboxes */
input[type="checkbox"]:checked {
  filter: grayscale(100%);
}

/* Images */
img {
  border-radius: var(--small-radius);
}

/* Blockquotes */
/* Callout boxes from Vileplume: https://github.com/hungsu/vileplume-obsidian */
.markdown-preview-view blockquote {
  border-radius: var(--big-radius);
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 10px 20px;
  position: relative;
  box-shadow: 0.9px 0.9px 3.6px rgba(0, 0, 0, 0.017),
    2.5px 2.4px 10px rgba(0, 0, 0, 0.025), 6px 5.7px 24.1px rgba(0, 0, 0, 0.033),
    20px 19px 80px rgba(0, 0, 0, 0.05);

  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container);
}

/* Lists */
ul > li::marker,
ol > li::marker {
  color: var(--text-muted);
}

/* Internal links */
.markdown-preview-view .internal-link {
  text-decoration: none;
  font-weight: var(--medium);
}

/* Frontmatter */
span.cm-hmd-frontmatter {
  font-size: var(--smaller);
  color: var(--text-muted);
  font-family: var(--default-font) !important;
}

.markdown-preview-section .frontmatter code,
.theme-dark .frontmatter .token,
.theme-light .frontmatter .token,
.theme-dark pre.frontmatter[class*="language-yaml"],
.theme-light pre.frontmatter[class*="language-yaml"] {
  font-family: var(--font-preview);
}

/* Frontmatter / Metadata container */
.frontmatter-container {
  border: none;
  border-radius: var(--small-radius);
}
.frontmatter-container .frontmatter-container-header {
  font-weight: var(--medium);
  font-size: var(--smallest);
}

/* Code blocks */
/* Inline:  .cm-s-obsidian span.cm-inline-code  */
.markdown-preview-view pre,
.markdown-preview-view code,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock {
  color: var(--primary-dark);
  font-family: var(--font-monospace);
}

/* Empty State screen */
.empty-state-title::before {
    content: ' ';
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M5,3H19C20.11,3 21,3.89 21,5V13.03C20.5,12.23 19.81,11.54 19,11V5H5V19H9.5C9.81,19.75 10.26,20.42 10.81,21H5C3.89,21 3,20.11 3,19V5C3,3.89 3.89,3 5,3M7,7H17V9H7V7M7,11H12.03C11.23,11.5 10.54,12.19 10,13H7V11M7,15H9.17C9.06,15.5 9,16 9,16.5V17H7V15Z' /%3E%3C/svg%3E");
    display: block;
    margin: auto;
  }
  
  .theme-light .empty-state-title::before {
    /* Filter created with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(60%) sepia(1%) saturate(0%) hue-rotate(291deg) brightness(89%) contrast(87%);
}
  .theme-dark .empty-state-title::before {
    /* Filter created with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(68%) sepia(9%) saturate(0%) hue-rotate(155deg) brightness(89%) contrast(87%);
}

.empty-state-title {
  font-size: var(--h5);
  font-weight: var(--regular);
  text-align: center;
}

.is-mobile .empty-state-action {
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
}

.is-mobile .empty-state-action:first-of-type {
  transform: translate(0px, 60px);
}  

.is-mobile .empty-state-action:nth-child(2) {
  transform: translate(0px, -60px);
  background-color: var(--primary-dark);
  color: var(--background-primary-alt);
}

/* Mobile Toolbar */
.is-mobile .mobile-toolbar {
  border-top: none;
  border-radius: 0;
  background-color: var(--background-primary);
}

.is-mobile .mobile-toolbar-option {
  color: var(--secondary-dark);
}

/* Tags */
/* Adapted from https://github.com/kepano/obsidian-minimal/blob/master/obsidian.css */

/* Preview */
.frontmatter-container .tag,
a.tag {
  background-color: var(--primary-faint);
  color: var(--text-normal);
  font-size: var(--smaller);
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 0 0 0;
  border-radius: var(--medium-radius);
}
a.tag:hover {
  color: var(--text-normal);
}

/* Hide the # character in front of a tag in Preview */
/* Thanks to `@Klaas`: https://discord.com/channels/686053708261228577/702656734631821413/890122749459197993 */
/* Currently not working, review later */

/* a.tag {
  position: relative;
  padding-left: 3px;
}

a.tag:after {
  background: var(--background-primary);
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  width: 0.66rem;
  left: 0px;
  border-radius: 4px;
} */

/* Editor */
.cm-s-obsidian span.cm-hashtag {
  background-color: var(--primary-faint);
  color: var(--text-normal);
  font-size: var(--smaller);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 0;
  vertical-align: middle;
  padding-top: 1px;
  border-left: none;
  border-right: none;
  padding-bottom: 2px;
  cursor: text;
}
span.cm-hashtag.cm-hashtag-begin {
  border-top-left-radius: var(--medium-radius);
  border-bottom-left-radius: var(--medium-radius);
  padding-left: 8px;
  border-right: none;
}
span.cm-hashtag.cm-hashtag-end {
  border-top-right-radius: var(--medium-radius);
  border-bottom-right-radius: var(--medium-radius);
  border-left: none;
  padding-right: 8px;
}