@mixin fab-styling {
  // Colour
  color: var(--on-tertiary-container);
  background-color: var(--tertiary-container);

  // Positioning
  display: flex;
  padding: 0px;
  margin: 0;
  margin: 16px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(100% - 44px - 16px);
  // 44px to align to the right
  // 16px margin
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: var(--medium-radius);
  box-shadow:
  0.8px 0.8px 4px rgba(0, 0, 0, 0.028),
  2.7px 2.7px 13.4px rgba(0, 0, 0, 0.042),
  12px 12px 60px rgba(0, 0, 0, 0.07)
;

& > *:first-child  {
  width: 24px;
  height: 24px;
}

}

/* Floating Action Button (FAB)*/
// Custom page header mode disabled
body:not(.custom-page-header) {
  .view-action:nth-of-type(4) {
    @include fab-styling();
  }
}

// Custom page header mode enabled, target first action button
body:not(:not(.custom-page-header)) .view-action.page-header-button:first-of-type {
  @include fab-styling();
}

/* Advanced Mobile Toolbar Mode disabled */
body:not(.advanced-toolbar-mode) {
  .view-action:nth-of-type(4) {
    // No idea how those numbers work but they give me 16px padding from the toolbar
    top: calc(100vh - 48px - 44px - 8px);
  // 44px to align to the right
  // 48px toolbar
  // 8px margin
  }
}

/* Pencil SVG */
svg.pencil > path {
  display: none;
}

svg.pencil {
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:50px;height:50px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:50px;height:50px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z' /%3E%3C/svg%3E");
}

/* Advanced Mobile Toolbar Mode */
.view-action:nth-of-type(4) {
  top: calc(90vh - calc(var(--at-button-height) * var(--at-row-count)));
}

/* Shrink FAB on small displays */
@media screen and (max-height: 400px) {
.view-action:nth-of-type(4) {
    transform: scale(0.8) translate(-50%, -50%);
  }
}
