/* @plugins
core:
- backlink
- command-palette
- file-explorer
- global-search
- graph
- outgoing-link
- outline
- page-preview
- starred
- switcher
- tag-pane

community:
- obsidian-system-dark-mode
- obsidian-style-settings
- cooklang-obsidian
- breadcrumbs
*/
