/* -------------- */
/* Quick Action */
/* -------------- */

/* Text input animation */
.is-mobile input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px 14px;
  height: auto;
  border-top: none;
  border-bottom: 2px solid var(--text-faint);
  border-left: none;
  border-right: none;
  font-size: 17px;
  background: linear-gradient(var(--secondary-dark), var(--secondary-dark)) bottom / 0%
    2px no-repeat var(--background-secondary-alt);
  border-radius: var(--small-radius) var(--small-radius) 0px 0px;
  transition: 0.2s;
  transition-delay: 0.5s;
}

input[type="text"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="number"]:active,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: none;
  background-size: 100% 2px;
}

/* Quick switcher selection item */
.suggestion-item.is-selected {
  background-color: var(--primary-faint);
}

.is-mobile .suggestion-hotkey {
  display: none;
}

.suggestion-highlight {
  font-weight: var(--bold);
  color: var(--primary);
}


/* Empty State screen */
.empty-state-title::before {
    content: ' ';
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M5,3H19C20.11,3 21,3.89 21,5V13.03C20.5,12.23 19.81,11.54 19,11V5H5V19H9.5C9.81,19.75 10.26,20.42 10.81,21H5C3.89,21 3,20.11 3,19V5C3,3.89 3.89,3 5,3M7,7H17V9H7V7M7,11H12.03C11.23,11.5 10.54,12.19 10,13H7V11M7,15H9.17C9.06,15.5 9,16 9,16.5V17H7V15Z' /%3E%3C/svg%3E");
    display: block;
    margin: auto;
  }
  
  .theme-light .empty-state-title::before {
    /* Filter created with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(60%) sepia(1%) saturate(0%) hue-rotate(291deg) brightness(89%) contrast(87%);
}
  .theme-dark .empty-state-title::before {
    /* Filter created with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(68%) sepia(9%) saturate(0%) hue-rotate(155deg) brightness(89%) contrast(87%);
}

.empty-state-title {
  font-size: var(--h5);
  font-weight: var(--regular);
  text-align: center;
}

.is-mobile .empty-state-action {
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
}

.is-mobile .empty-state-action:first-of-type {
  transform: translate(0px, 60px);
}  

.is-mobile .empty-state-action:nth-child(2) {
  transform: translate(0px, -60px);
  background-color: var(--primary-dark);
  color: var(--background-primary-alt);
}

/* Mobile Toolbar */
.is-mobile .mobile-toolbar {
  border-top: none;
  border-radius: 0;
  background-color: var(--background-primary);
}

.is-mobile .mobile-toolbar-option {
  color: var(--secondary-dark);
}

/* Settings */
/* Back modal */
.is-mobile .modal-setting-back-button {
  background-color: var(--primary-faint);
}


/* Reduce space between settings */
.vertical-tab-nav-item {
  padding: 0px 6px 10px 24px;
}

/* Style back */
.is-mobile .modal-setting-back-button {
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
}

/* Style setting headers */
.vertical-tab-header-group-title {
  padding: 6px 6px 6px 26px;
}

/* Add divider line */
.vertical-tab-header-group {
  border-bottom: 1px solid var(--background-secondary-alt);
}
.vertical-tab-header-group:last-of-type {
  border-bottom: none;
}

/* Height */
.is-mobile .modal,
.is-mobile .prompt,
.is-mobile .suggestion-container {
  max-height: calc(100% - 100px);
  min-height: calc(100% - 100px);
}

/* Buttons */

/* Filled button */
button.mod-cta {
  background-color: var(--primary);
  color: var(--background-primary);
}

/* Outlined buttons */
.modal.mod-settings button:not(.mod-cta):not(.mod-warning),
button:not(.mod-cta):not(.mod-warning),
.is-mobile .empty-state-action:not(:nth-child(2)) {
    background-color: transparent;
    border: 1px solid var(--text-faint);
    color: var(--primary);
}

.is-mobile button,
.is-mobile .empty-state-action {
  font-size: var(--smallest);
  border-radius: var(--big-radius);
}

/* Setting Headers */
.theme-light .vertical-tab-header-group-title {
  color: var(--primary-light);
}
.theme-dark .vertical-tab-header-group-title {
  color: var(--primary-dark);
}

/* Prompts (Quick switcher) */
.is-mobile .modal,
.is-mobile .prompt,
.is-mobile .suggestion-container {
  border-radius: var(--big-radius) var(--big-radius) 0 0;
  padding: 15px 20px;
}

/* Pulling down */
.pull-down-action {
  border-radius: 0 0 var(--medium-radius) var(--medium-radius);
}

/* Pulling from the left (navigating back
Trying to target but it's not these:
*/

/* PLUGINS */
/* Dataview Tables */
.table-view-table > thead > tr > th {
  border-bottom: none !important;
  font-weight: var(--medium);
  font-size: var(--editor-font-size);
  padding: var(--editor-font-size);
}

tr {
  border-top: 1px solid var(--background-secondary-alt);
}