/* Color schemes */
/* Atom */
.theme-light.obsidian-you-theme.forest {
  --primary:green;
}
.theme-dark.obsidian-you-theme.forest {
  --primary:lightgreen;
}
.obsidian-you-theme.old-diary {
  --primary:blue;
}