/* Style Settings */
/* @settings

name: Obsidian You
id: title
settings:
    - 
        id: colour-header
        title: Colours
        type: heading
        level: 2
        collapsed: false
    - 
        id: primary
        title: Primary Colour
        description: Automatically generates a colour palette
        type: variable-color
        opacity: false
        format: hsl-split
        default: '#705dcf'
    - 
        id: font-header
        title: Fonts
        type: heading
        level: 2
        collapsed: false
    - 
        id: font-preview
        title: Preview Font
        description: Used in preview mode
        type: variable-text
        default:  Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    - 
        id: font-editor
        title: Editor Font
        description: Used in editor mode
        type: variable-text
        default: Roboto,"Inter",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft YaHei Light",sans-serif;
    - 
        id: font-monospace
        title: Monospace Font
        description: Used in code
        type: variable-text
        default: Menlo,"Roboto Mono",monospace,SFMono-Regular,Consolas;
    - 
        id: other-header
        title: Additional settings
        type: heading
        level: 2
        collapsed: false
    - 
        id: advanced-toolbar-mode
        title: Advanced toolbar mode
        description: Adapts automatically to avanced mobile toolbar
        type: class-toggle
    - 
        id: branding
        title: Obsidian You branding
        description: Toggles contrasting branding in the sidebars
        type: class-toggle
        default: true
*/
