:root {
  /* ------------- */
  /* # TYPOGRAPHY */
  /* ------------- */

  /* ## Fonts */
  --font-preview: "HK Grotesk", Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-editor: "HK Grotesk", Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --default-font: var(--font-preview);
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: "Roboto Mono", monospace, Menlo, SFMono-Regular, Consolas;

  /* ## Font Sizes */
  --smallest: 0.75rem; /* Equal to px */
  --smaller: 0.875rem; /* Equal to 14px */

  /* Roundness */
  --big-radius: 24px;
  --medium-radius: 14px;
  --small-radius: 8px;

  /* ## Font Weights */
  --light: 350;
  --regular: 400;
  --medium: 500;
  --bold: 650;

  /* ## Heading sizes */
  --h1: 2.25rem; /* Display Small */
  --h2: 1.75rem; /* Headline Medium */
  --h3: 1.5rem; /* Headline Small */
  --h4: 1.375rem; /* Title Large */
  --h5: 1rem; /* Title Medium */
  --h6: 0.875rem; /* Title Small */

  /* ------------- */
  /* # COLOURS */
  /* ------------- */
// Colour pallettes generated via https://material-foundation.github.io/material-theme-builder/
// Surface elevation multipliers
--elevation1: 0.05;
--elevation2: 0.08;
--elevation3: 0.11;
--elevation4: 0.12;
--elevation5: 0.14;

  /* Primary (Obsidian default in Hex: #705dcf) */
  --primary0: #000000;
  --primary10: #1a0064;
  --primary20: #30128d;
  --primary25: #3b2398;
  --primary30: #4731a4;
  --primary35: #533fb0;
  --primary40: #5f4bbd;
  // rgb values used to generate elevation surface
  --primary40-r: 95;
  --primary40-g: 75;
  --primary40-b: 189;
  --primary50: #7865d8;
  --primary60: #9380f5;
  --primary70: #af9eff;
  --primary80: #cabeff;
  // rgb values used to generate elevation surface
  --primary80-r: 202;
  --primary80-g: 190;
  --primary80-b: 255;
  --primary90: #e7deff;
  --primary95: #f5eeff;
  --primary98: #fdf7ff;
  --primary99: #fffbff;
  --primary99: #fffbff;
  --primary100: #fff;

  // Secondary
  --secondary0: #000000;
--secondary10: #1c192c;
--secondary20: #312e41;
--secondary25: #3c394c;
--secondary30: #484459;
--secondary35: #545065;
--secondary40: #605c71;
--secondary50: #79748b;
--secondary60: #938ea5;
--secondary70: #aea8c1;
--secondary80: #c9c3dc;
--secondary90: #e6dff9;
--secondary95: #f4eeff;
--secondary98: #fdf7ff;
--secondary99: #fffbff;
--secondary100: #ffffff;

// Tertiary
--tertiary0: #000000;
--tertiary10: #301020;
--tertiary20: #482535;
--tertiary25: #553041;
--tertiary30: #623b4c;
--tertiary35: #6f4758;
--tertiary40: #7c5264;
--tertiary50: #976b7d;
--tertiary60: #b38497;
--tertiary70: #d09db1;
--tertiary80: #edb8cd;
--tertiary90: #ffd9e8;
--tertiary95: #ffecf2;
--tertiary98: #fff8f9;
--tertiary99: #fcfcfc;
--tertiary100: #ffffff;

// Error
--error0: #000000;
--error10: #410001;
--error20: #680003;
--error25: #7d0004;
--error30: #930006;
--error35: #a8060f;
--error40: #ba1b1b;
--error50: #dd3730;
--error60: #ff5449;
--error70: #ff897a;
--error80: #ffb4a9;
--error90: #ffdad4;
--error95: #ffede9;
--error98: #fff8f6;
--error99: #fcfcfc;
--error100: #ffffff;

// Neutral
--neutral0: #000000;
--neutral10: #1c1b1e;
// rgb values used to generate elevation surface
--neutral10-r: 28;
--neutral10-g: 27;
--neutral10-b: 30;
--neutral20: #313033;
--neutral25: #3d3b3f;
--neutral30: #48464a;
--neutral35: #545256;
--neutral40: #605d62;
--neutral50: #79767b;
--neutral60: #939094;
--neutral70: #aeaaaf;
--neutral80: #c9c5ca;
--neutral90: #e5e1e5;
--neutral95: #f4eff4;
--neutral98: #fdf8fd;
--neutral99: #fffbff;
// rgb values used to generate elevation surface
--neutral99-r: 255;
--neutral99-g: 251;
--neutral99-b: 255;
--neutral100: #ffffff;

// Neutral variant
--neutral-variant0: #000000;
--neutral-variant10: #1c1b22;
--neutral-variant20: #312f38;
--neutral-variant25: #3c3a43;
--neutral-variant30: #48454f;
--neutral-variant35: #54515a;
--neutral-variant40: #605d67;
--neutral-variant50: #79767f;
--neutral-variant60: #938f99;
--neutral-variant70: #ada9b3;
--neutral-variant80: #c9c4d0;
--neutral-variant90: #e5e0eb;
--neutral-variant95: #f4effa;
--neutral-variant98: #fdf8ff;
--neutral-variant99: #fffbff;
--neutral-variant100: #ffffff;
}

.theme-light {
  // Light Tokens
--primary: var(--primary40);
--primary-container: var(--primary90);
--secondary: var(--secondary40);
--secondary-container: var(--secondary90);
--tertiary: var(--tertiary40);
--tertiary-container: var(--tertiary90);

--surface: var(--neutral99);
--surface-variant: var(--neutral-variant90);

--background: var(--neutral99);
--error: var(--error40);
--error-container: var(--error90);

--on-primary: var(--primary100);
--on-primary-container: var(--primary10);
--on-secondary: var(--secondary100);
--on-secondary-container: var(--secondary10);
--on-tertiary: var(--tertiary100);
--on-tertiary-container: var(--tertiary10);

--on-surface: var(--neutral10);
--on-surface-variant: var(--neutral-variant30);
--on-error: var(--error100);
--on-error-container: var(--error10);
--on-background: var(--neutral10);

--outline: var(--neutral-variant50);
--shadow: var(--neutral0);
--inverse-surface: var(--neutral20);
--inverse-on-surface: var(--neutral95);
--inverse-primary: var(--primary80);

--surface1: rgb(
  calc(var(--primary40-r) * var(--elevation1) + var(--neutral99-r) * (1 - var(--elevation1))),
  calc(var(--primary40-g) * var(--elevation1) + var(--neutral99-g) * (1 - var(--elevation1))),
  calc(var(--primary40-b) * var(--elevation1) + var(--neutral99-b) * (1 - var(--elevation1)))
  );
--surface2: rgb(
  calc(var(--primary40-r) * var(--elevation2) + var(--neutral99-r) * (1 - var(--elevation2))),
  calc(var(--primary40-g) * var(--elevation2) + var(--neutral99-g) * (1 - var(--elevation2))),
  calc(var(--primary40-b) * var(--elevation2) + var(--neutral99-b) * (1 - var(--elevation2)))
  );
--surface3: rgb(
  calc(var(--primary40-r) * var(--elevation3) + var(--neutral99-r) * (1 - var(--elevation3))),
  calc(var(--primary40-g) * var(--elevation3) + var(--neutral99-g) * (1 - var(--elevation3))),
  calc(var(--primary40-b) * var(--elevation3) + var(--neutral99-b) * (1 - var(--elevation3)))
  );
--surface4: rgb(
  calc(var(--primary40-r) * var(--elevation4) + var(--neutral99-r) * (1 - var(--elevation4))),
  calc(var(--primary40-g) * var(--elevation4) + var(--neutral99-g) * (1 - var(--elevation4))),
  calc(var(--primary40-b) * var(--elevation4) + var(--neutral99-b) * (1 - var(--elevation4)))
  );
--surface5: rgb(
  calc(var(--primary40-r) * var(--elevation5) + var(--neutral99-r) * (1 - var(--elevation5))),
  calc(var(--primary40-g) * var(--elevation5) + var(--neutral99-g) * (1 - var(--elevation5))),
  calc(var(--primary40-b) * var(--elevation5) + var(--neutral99-b) * (1 - var(--elevation5)))
  );

  /* Standard colours */
  --background-primary: var(--background);
  --background-primary-alt: var(--surface1);
  --background-secondary: var(--surface-variant);
  --background-secondary-alt: var(--surface3);
  --background-modifier-border: var(--surface-variant);
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: var(--error);
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #b00020;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--primary);
  --text-accent-hover: var(--primary-container);
  --text-normal: var(--on-background);
  --text-muted: var(--on-surface-variant);
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999999;
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--surface-variant)
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #fcb2b2;
  --interactive-accent: var(--primary);
  --interactive-accent-rgb: var(--primary);
  --interactive-accent-hover: var(--primary);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
}

.theme-dark {
  // Dark Tokens
--primary: var(--primary80);
--primary-container: var(--primary30);
--secondary: var(--secondary80);
--secondary-container: var(--secondary30);
--tertiary: var(--tertiary80);
--tertiary-container: var(--tertiary30);

--surface: var(--neutral10);
--surface-variant: var(--neutral-variant30);

--background: var(--neutral10);
--error: var(--error80);
--error-container: var(--error30);

--on-primary: var(--primary20);
--on-primary-container: var(--primary90);
--on-secondary: var(--secondary20);
--on-secondary-container: var(--secondary90);
--on-tertiary: var(--tertiary20);
--on-tertiary-container: var(--tertiary90);

--on-surface: var(--neutral90);
--on-surface-variant: var(--neutral-variant80);
--on-error: var(--error20);
--on-error-container: var(--error80);
--on-background: var(--neutral90);

--outline: var(--neutral-variant60);
--shadow: var(--neutral0);
--inverse-surface: var(--neutral90);
--inverse-on-surface: var(--neutral20);
--inverse-primary: var(--primary40);

--surface1: rgb(
  calc(var(--primary80-r) * var(--elevation1) + var(--neutral10-r) * (1 - var(--elevation1))),
  calc(var(--primary80-g) * var(--elevation1) + var(--neutral10-g) * (1 - var(--elevation1))),
  calc(var(--primary80-b) * var(--elevation1) + var(--neutral10-b) * (1 - var(--elevation1)))
  );
--surface2: rgb(
  calc(var(--primary80-r) * var(--elevation2) + var(--neutral10-r) * (1 - var(--elevation2))),
  calc(var(--primary80-g) * var(--elevation2) + var(--neutral10-g) * (1 - var(--elevation2))),
  calc(var(--primary80-b) * var(--elevation2) + var(--neutral10-b) * (1 - var(--elevation2)))
  );
--surface3: rgb(
  calc(var(--primary80-r) * var(--elevation3) + var(--neutral10-r) * (1 - var(--elevation3))),
  calc(var(--primary80-g) * var(--elevation3) + var(--neutral10-g) * (1 - var(--elevation3))),
  calc(var(--primary80-b) * var(--elevation3) + var(--neutral10-b) * (1 - var(--elevation3)))
  );
--surface4: rgb(
  calc(var(--primary80-r) * var(--elevation4) + var(--neutral10-r) * (1 - var(--elevation4))),
  calc(var(--primary80-g) * var(--elevation4) + var(--neutral10-g) * (1 - var(--elevation4))),
  calc(var(--primary80-b) * var(--elevation4) + var(--neutral10-b) * (1 - var(--elevation4)))
  );
--surface5: rgb(
  calc(var(--primary80-r) * var(--elevation5) + var(--neutral10-r) * (1 - var(--elevation5))),
  calc(var(--primary80-g) * var(--elevation5) + var(--neutral10-g) * (1 - var(--elevation5))),
  calc(var(--primary80-b) * var(--elevation5) + var(--neutral10-b) * (1 - var(--elevation5)))
  );

    /* Standard Colours */
  --background-primary: var(--background);
  --background-primary-alt: var(--surface1);
  --background-secondary: var(--surface-variant);
  --background-secondary-alt: var(--surface3);
  --background-modifier-border: var(--surface-variant);
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-error: var(--error);
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: var(--primary);
  --text-accent-hover: var(--primary-container);
  --text-normal: var(--on-background);
  --text-muted: var(--on-surface-variant);
    --text-muted-rgb: 153, 153, 153;
    --text-faint: #666;
    --text-error: #cf6679;
    --text-error-hover: #990000;
   --text-highlight-bg: var(--surface-variant)
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: var(--primary);
  --interactive-accent-rgb: var(--primary);
  --interactive-accent-hover: var(--primary);
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
}