/* Headers */
.cm-formatting-header {
  color: var(--primary-light) !important;
}

/* Display Small */
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-size: var(--h1);
  font-weight: var(--regular);
  color: var(--text-muted);
}

/* Headline Medium */
.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2 {
  font-size: var(--h2);
  font-weight: var(--regular);
}

/* Headline Small */
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-size: var(--h3);
  font-weight: var(--regular);
}

/* Title Large */
.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-size: var(--h4);
  font-weight: var(--regular);
}

/* Title Medium */
.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5,
.cm-s-obsidian .cm-header-5 {
  font-size: var(--h5);
  font-weight: var(--medium);
}

/* Title Small */
.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6,
.cm-s-obsidian .cm-header-6 {
  font-size: var(--h6);
  font-weight: var(--medium);
}