:root {
  /* ------------- */
  /* # TYPOGRAPHY */
  /* ------------- */

  /* ## Fonts */
  --default-font: Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: "Roboto Mono", monospace;

    /* ## Sizes */
    --smaller: 0.875rem; /* Equal to 14px */

  /* ## Font weights */
  --light: 350;
  --regular: 400;
  --medium: 500;
  --bold: 700;

  /* ## Heading sizes */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1;
  --h6: 0.875rem;
}

.theme-light {
    /* ------------- */
    /* # COLOURS */
    /* ------------- */
    
    /* Primary (Primary in Hex: #705dcf) */
    /* HSL */
    --primary-h: 250;
    --primary-s: 54%;
    --primary-l: 59%;
    
    --primary: hsl(var(--primary-h),var(--primary-s), var(--primary-l));
    --primary-faint: hsl(var(--primary-h), var(--primary-s), 93%);
    --primary-light: hsl(var(--primary-h), var(--primary-s), 73%);
    --primary-dark: hsl(var(--primary-h), var(--primary-s), 40%);
    
    /* Secondary (Secondary in Hex: #bbce5d)*/
    /* --secondary-h: 70; */
    --secondary-h: calc(var(--primary-h) + 180);
    --secondary-s: var(--primary-s);
    --secondary-l: var(--primary-l);
    
    --secondary: hsl(var(--secondary-h),var(--secondary-s), var(--secondary-l));
    --secondary-faint: hsl(var(--secondary-h), var(--secondary-s), 93%);
    --secondary-light: hsl(var(--secondary-h), var(--secondary-s), 73%);
    --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), 40%);

    /* Standard colours */
    --background-primary: #ffffff;
    --background-primary-alt: #f5f6f8;
    --background-secondary: #f2f3f5;
    --background-secondary-alt: #e3e5e8;
    --background-modifier-border: #ddd;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #b00020;
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #b00020;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: var(--primary);
    --text-accent-hover: var(--primary-light);
    --text-normal: #2e3338;
    --text-muted: #888888;
    --text-muted-rgb: 136, 136, 136;
    --text-faint: #999999;
    --text-error: #800000;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(204, 230, 255, 0.99);
    --text-on-accent: #f2f2f2;
    --interactive-normal: #f2f3f5;
    --interactive-hover: #e9e9e9;
    --interactive-accent: var(--primary);
    --interactive-accent-rgb: var(--primary);
    --interactive-accent-hover: var(--primary);
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --highlight-mix-blend-mode: darken;
}
/* ------------- */
/* # Body */
/* ------------- */
/* Internal links */
.markdown-preview-view .internal-link {
  text-decoration: none;
}

/* Code blocks */

.markdown-preview-view code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code {
    color: var(--primary-dark);
}

/* Tags */
/* Adapted from https://github.com/kepano/obsidian-minimal/blob/master/obsidian.css */

/* Preview */
.frontmatter-container .tag,
a.tag {
  background-color: var(--primary-faint);
  color: var(--text-normal);
  font-size:var(--smaller);
  padding:3px 12px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:2px 0 0 0;
  border-radius:14px;
}
a.tag:hover {
  color:var(--text-normal);
}

/* Hide the # character in front of a tag in Preview */
/* Thanks to `@Klaas`: https://discord.com/channels/686053708261228577/702656734631821413/890122749459197993 */
/* Currently not working, review later */

/* a.tag {
  position: relative;
  padding-left: 3px;
}

a.tag:after {
  background: var(--background-primary);
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  width: 0.66rem;
  left: 0px;
  border-radius: 4px;
} */

/* Editor */
.cm-s-obsidian span.cm-hashtag {
  background-color: var(--primary-faint);
  color: var(--text-normal);
  font-size:var(--smaller);
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:2px 0;
  vertical-align:middle;
  padding-top:1px;
  border-left:none;
  border-right:none;
  padding-bottom:2px;
  cursor:text;
}
span.cm-hashtag.cm-hashtag-begin {
  border-top-left-radius:14px;
  border-bottom-left-radius:14px;
  padding-left:8px;
  border-right:none;
}
span.cm-hashtag.cm-hashtag-end {
  border-top-right-radius:14px;
  border-bottom-right-radius:14px;
  border-left:none;
  padding-right:8px;
}

/* Headers */

.empty-state-title,
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-size: var(--h1);
  font-weight: var(--light);
  letter-spacing: -0.09375rem;
  color: var(--h1-color);
}

.empty-state-title,
.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2 {
  font-size: var(--h2);
  font-weight: var(--light);
  letter-spacing: -0.03125rem;
  color: var(--h2-color);
}

.empty-state-title,
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-size: var(--h3);
  font-weight: var(--regular);
  color: var(--h3-color);
}

.empty-state-title,
.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-size: var(--h4);
  font-weight: var(--regular);
  letter-spacing: 0.015625rem;
  color: var(--h4-color);
}

.empty-state-title,
.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5,
.cm-s-obsidian .cm-header-5 {
  font-size: var(--h5);
  font-weight: var(--regular);
  color: var(--h5-color);
}

.empty-state-title,
.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6,
.cm-s-obsidian .cm-header-6 {
  font-size: var(--h6);
  font-weight: var(--medium);
  letter-spacing: 0.009375rem;
  color: var(--h6-color);
}
/* ------------- */
/* # File explorer */
/* ------------- */
.nav-file-title-content, .nav-folder-title-content {
    font-size: var(--smaller);
    padding: 0px 4px;
}

/* ------------- */
/* # Left sidebar */
/* ------------- */
.workspace-drawer.mod-left {
      border-radius: 0px 6px 0 0;
}

.workspace-drawer-ribbon {
    background-color: var(--background-secondary);
}

.workspace-drawer-tab-option-item-title, .workspace-drawer-active-tab-title {
    color: var(--text-normal);
    font-size: var(--regular);
}

.workspace-drawer-tab-container > * {
    border-top: 1px solid var(--background-secondary-alt);
}
/* ------------- */
/* # Top (Header) Bar */
/* ------------- */
.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header {
    border-bottom: none;
    box-shadow: 0 1px 6px 0px var(--text-muted);
    background-color: var(--primary);
}

/* ## Title */
.is-mobile .view-header-title,
.workspace-leaf.mod-active .view-header-title {
  line-height: 50px;
  font-size: var(--h5);
  font-weight: var(--regular);
  color: var(--background-primary);
}

/* Title icons */
.view-action {
    margin: 0 8px;
    cursor: pointer;
    color: var(--primary-light);
    position: relative;
    top: 3px;
}

/* Hamburger menu */
.view-header-icon {
    color: var(--background-primary-alt);
}

/* -------------- */
/* Quick Action */
/* -------------- */

/* Text input animation */
.is-mobile input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px 14px;
    height: auto;
    border-top: none;
    border-bottom: 2px solid var(--text-faint);
    border-left: none;
    border-right: none;
    font-size: 17px;
    background: 
    linear-gradient(var(--primary), var(--primary)) bottom / 0% 2px no-repeat
    var(--background-secondary-alt);
    border-radius: 6px 6px 0px 0px;
  transition: .2s;
  transition-delay: .5s;
    
}

input[type='text']:active, input[type='search']:active, input[type='email']:active, input[type='password']:active, input[type='number']:active, input[type='text']:focus, input[type='search']:focus, input[type='email']:focus, input[type='password']:focus, input[type='number']:focus {
    border: none;
  background-size: 100% 2px;
}

/* Quick switcher selection item */
.suggestion-item.is-selected {
 background-color: var(--secondary-light);
}

/* Floating Action Button (FAB)*/
/* Edit */
[aria-label="Edit (⌘+Click to edit in new pane)"], 
[aria-label="Edit (Ctrl+Click to edit in new pane)"] {
  color: var(--background-primary);
  display: flex;
  padding: 5px;
  position: absolute;
  top: 42rem;
  left: 19rem;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  box-shadow: 0 1px 6px 0px var(--text-muted);
}

/* Preview */
[aria-label="Preview (⌘+Click to open in new pane)"], 
[aria-label="Preview (Ctrl+Click to open in new pane)"] {
    color: var(--text-normal);
    display: flex;
    padding: 5px;
    box-shadow: 0 1px 6px 0px var(--text-muted);
    position: absolute;
    top: 42rem;
    left: 19rem;
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

/* Mobile Toolbar */
/* workspace content to go underneath toolbar */
.is-mobile .workspace-leaf-content > .view-content > .markdown-source-view {
  height: 100%;
}

.is-mobile .mobile-toolbar {
  border-top: none;
  border-radius: 0;
  background-color: var(--background-primary);
}

.is-mobile .mobile-toolbar-option {
  color: var(--secondary-dark);
}