:root {
  /* ------------- */
  /* # TYPOGRAPHY */
  /* ------------- */

  /* ## Fonts */
  --font-preview: Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-editor: Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --default-font: var(--font-preview);
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: "Roboto Mono", monospace, Menlo, SFMono-Regular, Consolas;

  /* ## Font Sizes */
  --smallest: 0.75rem; /* Equal to px */
  --smaller: 0.875rem; /* Equal to 14px */

  /* Roundness */
  --big-radius: 24px;
  --medium-radius: 14px;
  --small-radius: 8px;

  /* ## Font Weights */
  --light: 350;
  --regular: 400;
  --medium: 500;
  --bold: 650;

  /* ## Heading sizes */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1;
  --h6: 0.875rem;
}

.theme-light {
  /* ------------- */
  /* # COLOURS */
  /* ------------- */

  /* Primary (Primary in Hex: #705dcf) */
  /* HSL */
  --primary-h: 250;
  --primary-s: 54%;
  --primary-l: 59%;

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-faint: hsl(var(--primary-h), var(--primary-s), 93%);
  --primary-light: hsl(var(--primary-h), var(--primary-s), 73%);
  --primary-dark: hsl(var(--primary-h), var(--primary-s), 40%);

  /* Secondary (Default secondary in Hex: #bbce5d)*/
  /* --secondary-h: 70; */
  --secondary-h: calc(var(--primary-h) + 180);
  --secondary-s: var(--primary-s);
  --secondary-l: var(--primary-l);

  --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
  --secondary-faint: hsl(var(--secondary-h), var(--secondary-s), 93%);
  --secondary-light: hsl(var(--secondary-h), var(--secondary-s), 73%);
  --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), 40%);

  /* Standard colours */
  --background-primary: #ffffff;
  --background-primary-alt: #f5f6f8;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --background-modifier-border: #ddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #b00020;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #b00020;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--primary);
  --text-accent-hover: var(--primary-light);
  --text-normal: #2e3338;
  --text-muted: #888888;
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999999;
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-highlight-bg: var(--primary-faint);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #fcb2b2;
  --interactive-accent: var(--primary);
  --interactive-accent-rgb: var(--primary);
  --interactive-accent-hover: var(--primary);
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
}

.theme-dark {
  /* ------------- */
  /* # COLOURS */
  /* ------------- */

  /* Primary (Primary in Hex: #705dcf) */
  /* HSL */
  --primary-h: 250;
  --primary-s: 54%;
  --primary-l: 59%;

  --primary: hsl(var(--primary-h), calc(var(--primary-s) - 10%), var(--primary-l));
  --primary-faint: hsl(var(--primary-h), calc(var(--primary-s) - 15%), 17%);
  --primary-light: hsl(var(--primary-h), calc(var(--primary-s) - 10%), 37%);
  --primary-dark: hsl(var(--primary-h), calc(var(--primary-s) - 20%), 60%);

  /* Secondary (Default secondary in Hex: #bbce5d)*/
  /* --secondary-h: 70; */
  --secondary-h: calc(var(--primary-h) + 180);
  --secondary-s: var(--primary-s);
  --secondary-l: var(--primary-l);

  --secondary: hsl(var(--secondary-h), calc(var(--secondary-s) - 10%), var(--secondary-l));
  --secondary-faint: hsl(var(--secondary-h), var(--secondary-s), 93%);
  --secondary-light: hsl(var(--secondary-h), var(--secondary-s), 73%);
  --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), 40%);

  /* Background colours */

    /* Standard Colours */
    --background-primary: hsl(0, 0%, 7%); /* 02dp */
    --background-primary-alt: hsl(0, 0%, 9%); /* 04dp */
    --background-secondary: hsl(0, 0%, 12%); /* 08dp */
    --background-secondary-alt: hsl(0, 0%, 15%); /* 16dp */
    --background-modifier-border: #333;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: var(--primary);
    --text-accent-hover: var(--primary-light);
    --text-normal: rgba(222, 222, 222,0.87);
    --text-muted: #999;
    --text-muted-rgb: 153, 153, 153;
    --text-faint: #666;
    --text-error: #cf6679;
    --text-error-hover: #990000;
    --text-highlight-bg: var(--primary-faint);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: var(--primary);
  --interactive-accent-rgb: var(--primary);
  --interactive-accent-hover: var(--primary);
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;
}

/* ------------- */
/* # Body */
/* ------------- */

/* Fonts */
/* Preview */
/* .workspace-drawer-tab-option-item-title, 
.workspace-drawer-active-tab-title,
.nav-file-title-content, 
.nav-folder-title-content,
.tree-item-inner,
.is-mobile .suggestion-item,
input[type="text"]:active, input[type="search"]:active, input[type="email"]:active, input[type="password"]:active, input[type="number"]:active, input[type="text"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, 
*/
.popover,
.vertical-tab-content-container,
.workspace-leaf-content[data-type="markdown"] {
  font-family: var(--font-preview);
}

/* Editor */
.markdown-source-view .cm-s-obsidian .cm-hmd-frontmatter,
.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian,
.cm-s-obsidian span.cm-formatting-task {
  font-family: var(--font-editor);
}

/* Scroll bars */
/* Inspired by Minimal by kepano: https://github.com/kepano/obsidian-minimal/blob/master/obsidian.css */

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent;
  background-color: var(--background-modifier-border);
  border-width: 3px 4px 3px 3px;
  min-height: 45px;
}

.modal .vertical-tab-header::-webkit-scrollbar-thumb:hover,
.mod-left-split .workspace-tabs ::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-modifier-border-hover);
}
.modal .vertical-tab-header::-webkit-scrollbar-thumb:active,
.mod-left-split .workspace-tabs ::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:active {
  background-color: var(--background-modifier-border-focus);
}

/* Checkboxes */
input[type="checkbox"]:checked {
  filter: grayscale(100%);
}

/* Embeds */
/* Naked Embeds (modified from death_au (https://forum.obsidian.md/t/naked-embeds-css-tweak/72) */
.markdown-embed-title {
  display: none;
}
.markdown-preview-view .markdown-embed-content > :first-child {
  margin-top: 0;
}
.markdown-preview-view .markdown-embed-content > :last-child {
  margin-bottom: 0;
}

.markdown-preview-view .markdown-embed {
  border: none;
  padding: 0;
  margin: 0;
}
.markdown-preview-view .markdown-embed-content {
  border-radius: var(--big-radius);
  max-height: unset;
  background-color: var(--primary-faint);
}

/* the link on the top right corner*/
.markdown-embed-link {
  color: var(--text-faint) !important;
  top: 15px;
}

.markdown-embed-link:hover {
  color: var(--text-accent) !important;
}

/* Images */
img {
  border-radius: var(--small-radius);
}

/* Blockquotes */
/* Callout boxes from Vileplume: https://github.com/hungsu/vileplume-obsidian */
.markdown-preview-view blockquote {
  border-radius: var(--big-radius);
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 10px 20px;
  position: relative;
  box-shadow: 0.9px 0.9px 3.6px rgba(0, 0, 0, 0.017),
    2.5px 2.4px 10px rgba(0, 0, 0, 0.025), 6px 5.7px 24.1px rgba(0, 0, 0, 0.033),
    20px 19px 80px rgba(0, 0, 0, 0.05);

  background-color: var(--background-primary-alt) !important;
}

/* Lists */
ul > li::marker,
ol > li::marker {
  color: var(--text-muted);
}

/* Internal links */
.markdown-preview-view .internal-link {
  text-decoration: none;
  font-weight: var(--medium);
}

/* Frontmatter */
span.cm-hmd-frontmatter {
  font-size: var(--smaller);
  color: var(--text-muted);
  font-family: var(--default-font) !important;
}

.markdown-preview-section .frontmatter code,
.theme-dark .frontmatter .token,
.theme-light .frontmatter .token,
.theme-dark pre.frontmatter[class*="language-yaml"],
.theme-light pre.frontmatter[class*="language-yaml"] {
  font-family: var(--font-preview);
}

/* Frontmatter / Metadata container */
.frontmatter-container {
  border: none;
  border-radius: var(--small-radius);
}
.frontmatter-container .frontmatter-container-header {
  font-weight: var(--medium);
  font-size: var(--smallest);
}

/* Code blocks */
/* Inline:  .cm-s-obsidian span.cm-inline-code  */
.markdown-preview-view pre,
.markdown-preview-view code,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock {
  color: var(--primary-dark);
  font-family: var(--font-monospace);
}

/* Tags */
/* Adapted from https://github.com/kepano/obsidian-minimal/blob/master/obsidian.css */

/* Preview */
.frontmatter-container .tag,
a.tag {
  background-color: var(--primary-faint);
  color: var(--text-normal);
  font-size: var(--smaller);
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 0 0 0;
  border-radius: var(--medium-radius);
}
a.tag:hover {
  color: var(--text-normal);
}

/* Hide the # character in front of a tag in Preview */
/* Thanks to `@Klaas`: https://discord.com/channels/686053708261228577/702656734631821413/890122749459197993 */
/* Currently not working, review later */

/* a.tag {
  position: relative;
  padding-left: 3px;
}

a.tag:after {
  background: var(--background-primary);
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  width: 0.66rem;
  left: 0px;
  border-radius: 4px;
} */

/* Editor */
.cm-s-obsidian span.cm-hashtag {
  background-color: var(--primary-faint);
  color: var(--text-normal);
  font-size: var(--smaller);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 0;
  vertical-align: middle;
  padding-top: 1px;
  border-left: none;
  border-right: none;
  padding-bottom: 2px;
  cursor: text;
}
span.cm-hashtag.cm-hashtag-begin {
  border-top-left-radius: var(--medium-radius);
  border-bottom-left-radius: var(--medium-radius);
  padding-left: 8px;
  border-right: none;
}
span.cm-hashtag.cm-hashtag-end {
  border-top-right-radius: var(--medium-radius);
  border-bottom-right-radius: var(--medium-radius);
  border-left: none;
  padding-right: 8px;
}

/* Headers */
.cm-formatting-header {
  color: var(--primary-light) !important;
}

.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1,
.cm-s-obsidian .cm-header-1 {
  font-size: var(--h1);
  font-weight: var(--light);
  letter-spacing: -0.09375rem;
  color: var(--h1-color);
}

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2,
.cm-s-obsidian .cm-header-2 {
  font-size: var(--h2);
  font-weight: var(--light);
  letter-spacing: -0.03125rem;
  color: var(--h2-color);
}

.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3,
.cm-s-obsidian .cm-header-3 {
  font-size: var(--h3);
  font-weight: var(--regular);
  color: var(--h3-color);
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4,
.cm-s-obsidian .cm-header-4 {
  font-size: var(--h4);
  font-weight: var(--regular);
  letter-spacing: 0.015625rem;
  color: var(--h4-color);
}

.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5,
.cm-s-obsidian .cm-header-5 {
  font-size: var(--h5);
  font-weight: var(--regular);
  color: var(--h5-color);
}

.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6,
.cm-s-obsidian .cm-header-6 {
  font-size: var(--h6);
  font-weight: var(--medium);
  letter-spacing: 0.009375rem;
  color: var(--h6-color);
}

/* ------------- */
/* # Left sidebar */
/* ------------- */

/* Branding "Obsidian You" */
body:not(:not(.branding)) .workspace-drawer-header {
  padding: 10px 20px 0 10px;
}

body:not(:not(.branding)) .workspace-drawer-header::before {
  content: "Obsidian ";
  margin: 10px 12px 10px 12px;
  font-size: var(--h4);
  color: var(--primary-dark);
  clear: right;
  display: block;
}

body:not(:not(.branding)) .workspace-drawer-header::after {
  content: "You";
  margin: 10px;
  font-weight: var(--bold);
  font-size: var(--h4);
  color: var(--secondary);
  transform: translate(-15px, 0px);
  clear: right;
  display: block;
}

body:not(:not(.branding)) .workspace-drawer-header {
  border-bottom: 1px solid var(--background-secondary-alt);
}

/* Title of 'File explorer' and the like */
.workspace-drawer-active-tab-header {
  margin: 20px -1px 20px 11px;
}

.workspace-drawer-header-name-text {
  color: var(--text-muted);
  font-size: var(--smaller);
}

/* Search */
.workspace-leaf-content[data-type="search"] .nav-action-button {
  transform: scale(0.8);
  margin: none;
  padding: none;
}

/* Suggestions */
.is-mobile .suggestion-container.mod-search-suggestion {
  max-height: 40%;
  min-height: 30%;
  min-width: 100%;
}

/* Top buttons */
.is-mobile .workspace-drawer-actions,
.is-mobile .nav-buttons-container {
  background-color: var(--background-secondary);
  border-radius: var(--big-radius);
  margin: 0 11px 10px;
}

.is-mobile .workspace-leaf-content[data-type="search"] .nav-action-button {
  margin: 0px 2px 2px 0;
  text-align: center;
  height: 36px;
  cursor: var(--cursor);
}

.nav-action-button {
  color: var(--text-muted);
  transform: scale(0.8);
  padding: 5px 8px 0px 8px;
  margin: 0px 6px 0px 6px;
}

.workspace-drawer-tab-container > * {
  border-top: none !important;
}

/* Significantly simplify left and right bars */
.nav-folder.mod-root > .nav-file-title,
.nav-folder.mod-root > .nav-folder-title,
.workspace-drawer-header-name,
.workspace-drawer-header-icon,
.workspace-drawer-header-left {
  display: none;
}

/* Right sidebar */
.workspace-drawer.mod-right {
  border: none;
}

.backlink-pane,
.outgoing-link-pane {
  padding: 0 11px;
}

/* Backlink counts */
.tree-item-flair-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------- */
/* # File explorer */
/* ------------- */
/* Folder */
.nav-folder-title-content {
  padding-left: 0px;
}

.nav-file-title-content,
.nav-folder-title-content {
  font-size: var(--smaller);
  padding: 0px 0px;
  font-weight: var(--medium);
}

/* Files */
.is-mobile .nav-file-title,
.is-mobile .tag-container {
  padding: 1px 11px 0 11px;
  color: var(--text-muted);
  font-size: var(--smaller);
  font-weight: var(--light);
}

/* Highlighted file or backlink */
.nav-file-title.is-active,
.tree-item-self.is-clickable:hover,
.nav-folder-title.is-active,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--primary-faint);
  color: var(--primary-dark);
  border-radius: var(--small-radius);
}

/* Left sidebar */
.workspace-drawer.mod-left {
  border-right: 1px var(--background-primary) solid !important;
}

/* Ribbon */
.workspace-drawer-ribbon {
  background-color: var(--background-primary);
}

.workspace-drawer-tab-option-item {
  margin-left: 12px;
  margin-right: 12px;
}

.workspace-drawer-tab-option-item-title,
.workspace-drawer-active-tab-title {
  color: var(--text-normal);
  font-size: var(--regular);
}

.workspace-drawer-tab-container > * {
  border-top: 1px solid var(--background-secondary-alt);
}
/* ------------- */
/* # Title Bar */
/* ------------- */
/* Light Mode */
/* Any pane headers */
.theme-light .workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type
  .view-header,
.theme-light .workspace-split.mod-root .view-header,
.theme-light .workspace-leaf.mod-active .view-header,
.theme-light .is-mobile .view-header {
  border-bottom: none;
  box-shadow: 0.9px 0.9px 3.6px rgba(0, 0, 0, 0.035),
    2.5px 2.4px 10px rgba(0, 0, 0, 0.05), 6px 5.7px 24.1px rgba(0, 0, 0, 0.065),
    20px 19px 80px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
}

/* Split panes: not active */
.theme-light .workspace-leaf:not(.mod-active) .view-header {
    background-color: var(--primary-light) !important;
}

/* Dark Mode */
.theme-dark .workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type
  .view-header,
.theme-dark .workspace-leaf.mod-active .view-header,
.theme-dark .is-mobile .view-header {
  border-bottom: none;
  box-shadow: 0.9px 0.9px 3.6px rgba(0, 0, 0, 0.035),
    2.5px 2.4px 10px rgba(0, 0, 0, 0.05), 6px 5.7px 24.1px rgba(0, 0, 0, 0.065),
    20px 19px 80px rgba(0, 0, 0, 0.1);
  background-color: var(--background-secondary);
  color: var(--primary);
}

/* Split panes: not active */
.theme-dark .workspace-leaf:not(.mod-active) .view-header {
    background-color: var(--background-primary-alt) !important;
}

/* Style hamburger menu */
/* Replace icon */
.three-horizontal-bars {
  background-color: currentColor;
}
.theme-dark .three-horizontal-bars {
  color: var(--text-normal);
}
svg.three-horizontal-bars {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E");
}

/* ## Title */
.theme-light .is-mobile .view-header-title,
.theme-light .workspace-leaf-content .view-header-title {
  line-height: 50px;
  font-size: var(--h5);
  font-weight: var(--regular);
  color: var(--background-primary);
}
.theme-dark .is-mobile .view-header-title,
.theme-dark .workspace-leaf-content .view-header-title {
  line-height: 50px;
  font-size: var(--h5);
  font-weight: var(--regular);
  color: var(--text-normal);
}

.view-action:not(.page-header-button) {
    display: none;
}

.theme-light .view-action {
  color: var(--background-secondary-alt);
}

/* Replace vertical dots icon */
.vertical-three-dots {
  background-color: currentColor;
}

svg.vertical-three-dots {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z' /%3E%3C/svg%3E");
}


/* Hamburger menu */
.view-header-icon {
  color: var(--background-primary-alt);
  padding-left: 20px;
}

/* -------------- */
/* Quick Action */
/* -------------- */

/* Text input animation */
.is-mobile input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px 14px;
  height: auto;
  border-top: none;
  border-bottom: 2px solid var(--text-faint);
  border-left: none;
  border-right: none;
  font-size: 17px;
  background: linear-gradient(var(--secondary-dark), var(--secondary-dark)) bottom / 0%
    2px no-repeat var(--background-secondary-alt);
  border-radius: var(--small-radius) var(--small-radius) 0px 0px;
  transition: 0.2s;
  transition-delay: 0.5s;
}

input[type="text"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="number"]:active,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: none;
  background-size: 100% 2px;
}

/* Quick switcher selection item */
.suggestion-item.is-selected {
  background-color: var(--primary-faint);
}

.is-mobile .suggestion-hotkey {
  display: none;
}

.suggestion-highlight {
  font-weight: var(--bold);
  color: var(--primary);
}

/* Floating Action Button (FAB)*/
/* Advanced Mobile Toolbar Mode */
.view-action:nth-last-of-type(5),
.view-action:nth-last-of-type(4) {
  top: calc(90vh - calc(var(--at-button-height) * var(--at-row-count)));
}

/* Advanced Mobile Toolbar Mode disabled */
body:not(.advanced-toolbar-mode) .view-action:nth-last-of-type(5),
body:not(.advanced-toolbar-mode) .view-action:nth-last-of-type(4) {
  top: calc(90vh - 48px);
}

/* Shared styling */
.view-action:nth-last-of-type(5),
.view-action:nth-last-of-type(4) {
  display: flex;
  padding: 5px;
  position: absolute;
  left: 82vw;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: var(--big-radius);
  box-shadow: 0.9px 0.9px 3.6px rgba(0, 0, 0, 0.07),
    2.5px 2.4px 10px rgba(0, 0, 0, 0.1), 6px 5.7px 24.1px rgba(0, 0, 0, 0.13),
    20px 19px 80px rgba(0, 0, 0, 0.2);
}

/* Preview */
.view-action:nth-last-of-type(5) {
  color: var(--background-primary);
  background-color: var(--primary);
}
/* Editor */
.view-action:nth-last-of-type(4) {
  color: var(--background-primary);
  background-color: var(--secondary);
}


/* Shrink FAB on small displays */
@media screen and (max-height: 400px) {
  .view-action:nth-last-of-type(5),
  .view-action:nth-last-of-type(4) {
    transform: scale(0.8) translate(-50%, -50%);
  }
}

/* Empty State screen */
.empty-state-title::before {
    content: ' ';
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M5,3H19C20.11,3 21,3.89 21,5V13.03C20.5,12.23 19.81,11.54 19,11V5H5V19H9.5C9.81,19.75 10.26,20.42 10.81,21H5C3.89,21 3,20.11 3,19V5C3,3.89 3.89,3 5,3M7,7H17V9H7V7M7,11H12.03C11.23,11.5 10.54,12.19 10,13H7V11M7,15H9.17C9.06,15.5 9,16 9,16.5V17H7V15Z' /%3E%3C/svg%3E");
    display: block;
    margin: auto;
  }
  
  .theme-light .empty-state-title::before {
    /* Filter created with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(60%) sepia(1%) saturate(0%) hue-rotate(291deg) brightness(89%) contrast(87%);
}
  .theme-dark .empty-state-title::before {
    /* Filter created with https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(68%) sepia(9%) saturate(0%) hue-rotate(155deg) brightness(89%) contrast(87%);
}

.empty-state-title {
  font-size: var(--h5);
  font-weight: var(--regular);
  text-align: center;
}

.is-mobile .empty-state-action {
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
}

.is-mobile .empty-state-action:first-of-type {
  transform: translate(0px, 60px);
}  

.is-mobile .empty-state-action:nth-child(2) {
  transform: translate(0px, -60px);
  background-color: var(--primary-dark);
  color: var(--background-primary-alt);
}

/* Mobile Toolbar */
.is-mobile .mobile-toolbar {
  border-top: none;
  border-radius: 0;
  background-color: var(--background-primary);
}

.is-mobile .mobile-toolbar-option {
  color: var(--secondary-dark);
}

/* Settings */
/* Reduce space between settings */
.vertical-tab-nav-item {
  padding: 0px 6px 10px 24px;
}

/* Style back */
.is-mobile .modal-setting-back-button {
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
}

/* Style setting headers */
.vertical-tab-header-group-title {
  padding: 6px 6px 6px 26px;
}

/* Add divider line */
.vertical-tab-header-group {
  border-bottom: 1px solid var(--background-secondary-alt);
}
.vertical-tab-header-group:last-of-type {
  border-bottom: none;
}

/* Height */
.is-mobile .modal,
.is-mobile .prompt,
.is-mobile .suggestion-container {
  max-height: calc(100% - 100px);
  min-height: calc(100% - 100px);
}

/* Buttons */
.is-mobile button,
.is-mobile .empty-state-action {
  letter-spacing: 0.09375rem;
  font-size: var(--smallest);
  border-radius: var(--big-radius);
}

/* Setting Headers */
.theme-light .vertical-tab-header-group-title {
  color: var(--primary-light);
}
.theme-dark .vertical-tab-header-group-title {
  color: var(--primary-dark);
}

/* Prompts (Quick switcher) */
.is-mobile .modal,
.is-mobile .prompt,
.is-mobile .suggestion-container {
  border-radius: var(--big-radius) var(--big-radius) 0 0;
  padding: 15px 20px;
}

/* Pulling down */
.pull-down-action {
  border-radius: 0 0 var(--medium-radius) var(--medium-radius);
}

/* Pulling from the left (navigating back
Trying to target but it's not these:
*/

/* PLUGINS */
/* Dataview Tables */
.table-view-table > thead > tr > th {
  border-bottom: none !important;
  font-weight: var(--medium);
  font-size: var(--editor-font-size);
  padding: var(--editor-font-size);
}

tr {
  border-top: 1px solid var(--background-secondary-alt);
}

/* Style Settings */
/* @settings

name: Obsidian You
id: title
settings:
    - 
        id: colour-header
        title: Colours
        type: heading
        level: 2
        collapsed: false
    - 
        id: primary
        title: Primary Colour
        description: Automatically generates a colour palette
        type: variable-color
        opacity: false
        format: hsl-split
        default: '#705dcf'
    - 
        id: font-header
        title: Fonts
        type: heading
        level: 2
        collapsed: false
    - 
        id: font-preview
        title: Preview Font
        description: Used in preview mode
        type: variable-text
        default:  Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    - 
        id: font-editor
        title: Editor Font
        description: Used in editor mode
        type: variable-text
        default: Roboto, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    - 
        id: font-monospace
        title: Monospace Font
        description: Used in code
        type: variable-text
        default: Menlo, "Roboto Mono", monospace,SFMono-Regular,Consolas;
    - 
        id: other-header
        title: Additional settings
        type: heading
        level: 2
        collapsed: false
    - 
        id: advanced-toolbar-mode
        title: Advanced toolbar mode
        description: Adapts automatically to avanced mobile toolbar
        type: class-toggle
    - 
        id: branding
        title: Obsidian You branding
        description: Toggles contrasting branding in the sidebars
        type: class-toggle
        default: true
*/
